#services{
 height: 92vh;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

#formContainer{
    height: 93vh;
}

#cart{
    height: 70vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

#checkout{
    position: absolute;
}